.style-output-wrapper {
  border: 1px solid red;
  padding: 1rem;
  width: fit-content;
  max-width: 500px;
}


.auto-form {
  border: 1px solid #817e7e;
  padding: 1rem;
  background-color: #e7e7e7;
  border-radius: 1rem;
  margin: 1rem;
  width: fit-content;
}

.auto-form .hbox {
  /*border: 1px solid blue;*/
  padding: 1rem;
}

.auto-form .hbox label {
  padding-right: 1rem;
}
