.style-output-wrapper {
  border: 1px solid red;
  padding: 1rem;
  width: fit-content;
  max-width: 800px;
}

.style-output-wrapper span {
  color: #ff0000;
  -webkit-text-stroke-color: blue;
  font-family: system-ui;
}


.auto-form {
  border: 1px solid #817e7e;
  padding: 1rem;
  background-color: #e7e7e7;
  border-radius: 1rem;
  margin: 1rem;
  width: fit-content;
}

.auto-form .hbox {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.auto-form .hbox label {
  padding-right: 1rem;
}
