.vbox {
  display: flex;
  flex-direction: column;
}

button.preset {
  white-space: nowrap;
  text-transform: capitalize;
  padding: 0.5rem;
  background-color: #ffffff;
  margin: 0.25rem;
  border: 1px solid black;
}
button.preset:hover {
  background-color: #b9fda9;
}

.style-output-wrapper {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  /*width: fit-content;*/
  width: 100%;
  overflow: scroll;
}

.style-output-wrapper span {
  display: block;
  padding: 150px;
}


.auto-form {
  border: 1px solid #817e7e;
  padding: 1rem;
  background-color: #e7e7e7;
  border-radius: 1rem;
  margin: 1rem;
  width: fit-content;
  font-family: -apple-system, system-ui, sans-serif;
  font-size: 11pt;
}

.auto-form .hbox {
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auto-form .hbox label {
  padding-right: 1rem;
}


.text {
  font-size: 96pt;
  background-color: black;
  /* gradient of white to green, but with shadow at every 5px to the max blur radius */
  text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #49ff18,
    0 0 30px #49ff18,
    0 0 40px #49ff18,
    0 0 55px #49ff18,
    0 0 75px #49ff18;
}


.main {
  display: flex;
  flex-direction: row;
}

.color-swatch-button label {
  margin-left: 1rem;
}
.color-swatch-button button {
  border: 2px solid white;
  box-shadow: 0px 0px 0px 2px black;
  width: 32px;
  height: 32px;
}


.css-export-view {
  width: 100%;
  margin:0;
  box-sizing: border-box;
}


.png-export-view {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 600px;
}
